$color-sender: #333333;
$color-subject: #333333;
$color-short-description: #9B9B9B;
$color-bar-selected: #4990E2;
$color-background-selected: #F9F9F9;
$color-text: #333333;
$color-background: #F6F6F7;
$color-actions: #8B8B8B;
$color-border: #B5B5B5;