.section-info {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;

    .subject {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        color: $color-subject;
    }

    .icon {
        font-size: 19px;
        cursor: default;
        color: $color-actions;
        padding-right: 12px;
    }
}