.main-area {
    background-color: $color-background;
    width: calc(100% - 320px);
    height: 100%;
    overflow-y: scroll;

    &.empty {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            font-size: 300px;
            color: $color-icon-background-empty;
        }
    }
}
