@import "./styles/reset.scss";
@import "./styles/colors.scss";
@import "./styles/variables.scss";
@import "./styles/icons.scss";
@import "./components/Sidebar.scss";
@import "./components/MainArea.scss";

.container {
    display: flex;
    font-family: Helvetica;
    font-size: 12px;
}